/* CATEGORY LIST */

.cat-container {
    max-width: 600px;
    margin: 60px auto;
}

.cat-container h2 {
    color: #0056B3;
    margin-bottom: 20px;
}

.cat-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.cat-list li {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-between;
}

.edit {
    color: #0056B3;
    font-weight: bold;
}

.btn-add-cat {
    display: inline-block;
    padding: 12px;
    background: #FFCC00;
    color: #333;
    border-radius: 8px;
    text-decoration: none;
}
