/* PRODUCT DETAIL */

.detail-container {
    max-width: 1000px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.detail-left {
    flex: 1;
}

.product-photo {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.detail-right {
    flex: 1;
}

.detail-right h2 {
    color: #0056B3;
    margin-bottom: 10px;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #0056B3;
    margin-bottom: 20px;
}

.btn-add {
    background: #FFCC00;
    color: #333;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-add:hover {
    background: #e6b800;
}
