/* PRODUCT LIST */

.product-list-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 10px;
}

.product-list-container h2 {
    font-size: 2rem;
    color: #0056B3;
    margin-bottom: 25px;
}

/* GRID FLEXÍVEL (4 a 5 colunas máx) */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
    text-align: center;
}

.product-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.product-card h3 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #333;
}

.price {
    font-weight: bold;
    margin-bottom: 12px;
    color: #0056B3;
}

.btn-detail {
    display: block;
    padding: 10px;
    background: #FFCC00;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.2s;
}

.btn-detail:hover {
    background: #e6b800;
}
