.senha-container {
    max-width: 420px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.senha-container input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0056B3;
    border-radius: 8px;
    color: white;
    border: none;
}
