.cadastro-container {
    max-width: 450px;
    margin: 50px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.cadastro-container input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #0056B3;
    color: white;
    border-radius: 8px;
}
