.foto-container {
    max-width: 450px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.foto-preview {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0056B3;
    color: white;
    border-radius: 8px;
    border: none;
}
